:root {
    /* Primary */
    --light-red: hsl(356, 100%, 66%); /* CTA text */
    --very-light-red: hsl(355, 100%, 74%); /* CTA hover background */
    --dark-blue: hsl(208, 49%, 24%); /* Headings */
    /* Neutral */
    --dark-blue: hsl(208, 49%, 24%); /* Headings */
    --white: hsl(0, 0%, 100%); /* Text*/
    --grayish-blue: hsl(240, 2%, 79%); /* Footer-text */
    --darker-grayish-blue: hsl(207, 13%, 34%); /* body-copy */
    --black-blue: hsl(240, 10%, 16%); /* footer-background */

    /* Gradients */
    --intro-gradient-light-red: hsl(353, 100%, 62%);
    --intro-gradient-lighter-red: hsl(13, 100%, 72%);

    --body-gradient-dark-blue: hsl(237, 17%, 21%);
    --body-gradient-de-saturated-blue: hsl(237, 23%, 32%);

    --orange-gradient: linear-gradient(
        175deg,
        rgba(255, 143, 112, 1) 17%,
        rgba(255, 65, 85, 1) 95%
    );
}

/* font-family: "Overpass", sans-serif; */
/* 300 600 */

/* font-family: "Ubuntu", sans-serif; */
/* 400 500 700 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Ubuntu", sans-serif; */
}

body {
    text-align: center;
    color: var(--darker-grayish-blue);
    font-family: "Ubuntu", sans-serif;
}

nav {
    z-index: 2;
}

main {
    z-index: 1;
}

.title {
    max-width: 300px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Overpass", sans-serif;
    padding: 0 0.5rem;
    font-size: 1.75rem;
    color: var(--dark-blue);
}

.copy {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.15rem;
    line-height: 1.75rem;
    padding: 1.25rem;
    margin-bottom: 2rem;
}

.container-section {
    padding: 3rem 0;
}

/* ============== */
/* NAV ========== */
/* ============== */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    padding: 4rem 2rem;
    z-index: 0;
}

/* HAMBURGER ========== */
/* ==================== */

.nav-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 0;
    padding: 1.5rem 2rem;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--white);
    width: 40px;
    height: 4px;
    border-radius: 1em;
    transition: transform 100ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 12px;
}
.hamburger::after {
    bottom: 12px;
}

.nav-open .container-nav-list {
    transform: translateX(-50%);
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
    background: var(--white);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-10px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.container-nav-list {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
    background: var(--white);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 6px 17px 3px rgba(0, 0, 0, 0.39);
}

.nav-list {
    list-style: none;
}

.nav-btn {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-blue);
    background: transparent;
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.arrow-img {
    margin-left: 10px;
}

.toggle-arrow {
    transform: rotate(180deg);
}

.login {
    border-top: solid 1px var(--grayish-blue);
    margin: 1rem 0;
}

.container-drop-down {
    flex-direction: column;
    background: var(--grayish-blue);
    color: var(--black-blue);
    padding: 1rem 0;
    margin: 0.5rem 0;
    border-radius: 8px;
    opacity: 0.7;
    display: none;
}

.open-drop-down {
    display: flex;
}

.drop-down-link {
    color: inherit;
    text-decoration: none;
    padding: 0.75rem 0;
    background: transparent;
}

.drop-down-link:hover {
    font-weight: 900;
}

/* ================== */
/* BUTTONS / LINKS  = */
/* ================== */

.btn {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 25px;
}

.btn-start {
    background: var(--white);
    color: var(--light-red);
    border: none;
}

.btn-learn {
    background: transparent;
    color: var(--white);
    border: solid 1px var(--white);
}

.btn-learn:hover {
    background: var(--white);
    color: var(--intro-gradient-lighter-red);
}

.btn-start:hover {
    background: rgba(255, 255, 255, 0.2);
    color: var(--white);
}

.login-btn {
    margin-top: 1.5rem;
}

.sign-up-btn {
    width: 200px;
    margin: 0 auto;
    background: linear-gradient(
        99deg,
        rgba(255, 143, 112, 1) 17%,
        rgba(255, 65, 85, 1) 95%
    );
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--white);
    border-radius: 50px;
    padding: 1.25rem 3.5rem;
    border: none;
}

.sign-up-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    color: var(--white);
}

/* ============== */
/* CTA ========== */
/* ============== */

.cta {
    background: rgb(255, 61, 84);
    background-image: url("../images/bg-pattern-intro-mobile.svg"); /* Fall back */
    background-image: url("../images/bg-pattern-intro-mobile.svg"),
        var(--orange-gradient);
    background-repeat: no-repeat;
    background-position: 35% 31%;
    color: var(--white);
    padding: 0 1.5rem;
    padding-top: 12rem;
    border-bottom-left-radius: 100px;
}

.cta-title {
    max-width: 325px;
    font-size: 2.15rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--white);
}

.cta-subtitle {
    max-width: 325px;
    font-size: 1.25rem;
    font-family: "Overpass", sans-serif;
    margin: 0 auto;
    width: inherit;
}

.container-cta-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem 0;
    padding-bottom: 10rem;
}

/* ============== */
/* MAIN ========= */
/* ============== */

.main-copy {
    color: var(--darker-grayish-blue);
}

.main-img {
    width: 100%;
    margin: 3rem auto;
}

.design-title {
    max-width: 400px;
    margin-top: 5rem;
}

/* SECTION-2 ==== */
/* ============== */

.section-2 {
    background: var(--body-gradient-dark-blue);
    background-image: url("../images/bg-pattern-circles.svg"),
        linear-gradient(0deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 100%);
    background-size: 625px;
    background-repeat: no-repeat;
    background-position: 50% -250px;
    color: var(--white);
    padding-top: 14.5rem;
    padding-bottom: 3rem;
    margin-top: 10rem;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
}

.img-absolute {
    position: absolute;
    top: -175px;
    left: 50%;
    transform: translateX(-50%);
}

.img-cellphone {
    width: 400px;
}

.section-2-title {
    color: var(--white);
    font-size: 2.5rem;
}

/* ============== */
/* FOOTER ======= */
/* ============== */

.footer {
    font-size: 1.15rem;
    text-transform: capitalize;
    color: var(--grayish-blue);
    background: var(--black-blue);
    padding: 4rem 0;
    padding-bottom: 1rem;
    border-top-right-radius: 100px;
}

.footer-title {
    color: var(--white);
    margin: 1.5em 0;
    font-weight: 500;
}

.footer-logo {
    padding: 2.5rem 0;
}

.footer-list {
    list-style: none;
}

.footer-li {
    margin: 1.15rem;
}

.footer-link {
    font-size: 1.15rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    color: var(--grayish-blue);
}

.footer-link:hover {
    text-decoration: underline;
}

.attribution {
    background: var(--black-blue);
    color: var(--white);
    font-size: 12px;
    text-align: center;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.attribution a {
    color: var(--intro-gradient-lighter-red);
    letter-spacing: 1px;
}
